body {
    background: url('http://beta.videosejm.pl/cache/img/body-background.png');
}

.hide-button{
    position: absolute;
    right: 5px;
    top: -10px;
}
.job-offer{
    background-color: rgba(255, 255, 255, 1);
    padding: 1em;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    margin: 5px;
    border:#000 0px solid;
    border-left-width: 5px;
    transition-duration: 0.5s;
}
.job-offer.elanceCom{
    border-color: #9de960;

}
.job-offer.freelancerCom{
    border-color: #eb6868;

}
.job-offer.oferiaPl{
    /*color: #8a6d3b;*/
    /*background-color: #fcf8e3;*/
    border-color: #ffeb7c;
}

.job-offer.visited{
    color:#999;
    background-color: rgba(255, 255, 255, 0.5);
}
.job-offer-price{
    font-weight:bold;
}
.job-offer-date{
    font-weight:bold;
}

.job-offer-title{
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: #ccc 1px dashed;
    cursor: pointer;
}
.job-offer-title:hover{
    text-decoration: underline;
}

.job-offer-details{
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: #ccc 1px dashed;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
