<div class="row" id="job-offers-container">
</div>

<div style="display:none" id="fixed-price-job-offer-template" class="job-offer col-md-12">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger hide-button">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <div class="job-offer-title">
                    Title
                </div>
                <div class="job-offer-details">
                    Dodano: <span class="job-offer-date datetime"></span> | Cena: <span class="job-offer-price"></span>
                </div>
                <div class="job-offer-description"></div>
            </div>
        </div>
    </div>
</div>

<div style="display:none" id="hourly-job-offer-template" class="job-offer col-md-12">
    <div class="block">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger hide-button">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <div class="job-offer-title">
                    Title
                </div>
                <div class="job-offer-details">
                    Dodano: <span class="job-offer-date datetime"></span> | Cena: <span class="job-offer-price"></span>/h
                </div>
                <div class="job-offer-description"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var jobOffersIds = [];

        function parseDate(timestamp) {
            var now = Date.now() / 1000;

            var difference = now - timestamp + 3600;

            console.log(difference);
            var minutes = Math.floor(difference / 60) % 60;
            var hours = Math.floor(difference / 3600);

            if (minutes.length == 1) minutes = "0" + minutes;
            return (hours) + "h, " + minutes + "m";
        }

        function updateDates() {
            $(".datetime").each(function () {
                var $this = $(this);
                var timestamp = $this.attr("data-timestamp");
                $this.html(parseDate(timestamp));
            });
            setTimeout(updateDates, 60000);
        }

        updateDates();
        function updateOffersCount() {
            var offerCount = $("#job-offers-container .job-offer:visible").length;
            document.title = offerCount + " Ofert";

        }

        var fixedPriceJobOfferTemplate = $("#fixed-price-job-offer-template");
        var hourlyJobOfferTemplate = $("#hourly-job-offer-template");
        var jobOffersContainer = $("#job-offers-container");
        function fetchNewOffers() {
            $.getJSON("/list-new", function (data) {
                data.reverse();
                for (i in data) {
                    var jobOffer = data[i];

                    if ($.inArray(jobOffer.id, jobOffersIds) != -1) {

                    } else {
                        jobOffersIds.push(data[i].id);
                        var jobOfferNode;
                        if (jobOffer.type == "HOURLY") {
                            jobOfferNode = hourlyJobOfferTemplate.clone();
                        } else if (jobOffer.type == "FIXED_PRICE") {
                            jobOfferNode = fixedPriceJobOfferTemplate.clone();
                        } else {
                            continue;
                        }

                        if (jobOffer.visited == true) {
                            jobOfferNode.addClass("visited");
                        } else {
                            jobOfferNode.removeClass("visited");
                        }

                        jobOfferNode.addClass(jobOffer.importerName);
                        var time = parseInt(jobOffer.publicationTime);
                        jobOfferNode.find(".job-offer-title").html(jobOffer.title);
                        jobOfferNode.find(".job-offer-title").click(function () {
                            var tmpJobOfferNode = jobOfferNode;
                            var tmpJobOffer = jobOffer;
                            return function () {
                                window.open(tmpJobOffer.url);
                                tmpJobOfferNode.addClass("visited");
                                $.getJSON("/visit/" + tmpJobOffer.id, function (data) {
                                });
                            };
                        }());
                        jobOfferNode.find(".hide-button").click(function () {
                            var tmpJobOfferNode = jobOfferNode;
                            var tmpJobOffer = jobOffer;
                            return function () {
                                tmpJobOfferNode.hide();

                                updateOffersCount();
                                $.getJSON("/hide/" + tmpJobOffer.id, function (data) {
                                });
                            };
                        }());
                        jobOfferNode.find(".job-offer-description").html(jobOffer.description);
                        jobOfferNode.find(".job-offer-date").attr("data-timestamp", time);
                        jobOfferNode.find(".job-offer-date").html(parseDate(time));
                        jobOfferNode.find(".job-offer-price").html(jobOffer.priceMin + "$ - " + jobOffer.priceMax + "$");
                        jobOffersContainer.prepend(jobOfferNode);
                        jobOfferNode.fadeIn();
                    }
                }
                updateOffersCount();
            });

            setTimeout(fetchNewOffers, 60000);
        }

        fetchNewOffers();

    })
</script>